app/client/__pycache__/api.cpython-314.pyc
app/client/__pycache__/clicommands.cpython-314.pyc
app/client/__pycache__/config.cpython-314.pyc
app/server/__pycache__/config.cpython-314.pyc
app/server/__pycache__/docker_service.cpython-314.pyc
app/server/__pycache__/file_service.cpython-314.pyc
app/server/__pycache__/project_service.cpython-314.pyc
